.button{

    position:relative;

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:12px;

    margin-top:45px;

    padding:18px 38px;

    border-radius:18px;

    background:#7a7a7a;

    color:white;

    font-size:1rem;

    font-weight:700;

    transition:.35s;

    box-shadow:
        0 20px 45px rgba(255,0,0,.28);

    z-index:2;

}

.button:hover{

    transform:translateY(-5px);

    background:#e00000;

    box-shadow:
        0 28px 60px rgba(255,0,0,.40);

}

.button i{

    font-size:1.25rem;

}
